/* Estilos generales */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    line-height: 1.5;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f4951f;
}

/* Estilos para contenedor de búsqueda */
#searchContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo transparente */
    border-radius: 8px;
    max-width: 600px; /* Ancho máximo igual al de #result */
    margin-left: auto;
    margin-right: auto;
}

label {
    font-weight: bold;
    color: rgb(22, 105, 164); /* Aplicación del color */
}

select, input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para los resultados */
#result {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    max-width: 600px; /* Ancho máximo igual al de #searchContainer */
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

/* Ajustes para pantallas pequeñas */
@media screen and (max-width: 768px) {
    #searchContainer {
        flex-direction: column;
        max-width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
        margin-left: auto;
        margin-right: auto;
    }

    #result {
        max-width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
        margin-left: auto;
        margin-right: auto;
    }
    
    button {
        max-width: 100%;
    }
}

/* Estilos para sugerencias */
#suggestions {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#suggestions li {
    padding: 8px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #f0f0f0;
}
